.about {
  grid-area: about;
  border: 2px solid #7D12FF;
  padding: 5px;
}

@media (min-width: 2001px) {
  .about {
    height: 35vh;
    width: 30vw;
  }
}

@media (max-width: 2000px) {
  .about {
    width: 40vw;
  }
}

@media (max-width: 1300px) {
  .about {
    width: 35vw;
  }
}

@media (max-width: 1050px) {
  .about {
    width: 170vw;
  }
}
