/* https://developer.mozilla.org/en-US/docs/Web/CSS/border-radius */
/* https://css-tricks.com/examples/ButtonMaker/# */
.button {
   border: 1px solid #080808;
   background: #7f65d6;
   background: -webkit-gradient(linear, left top, left bottom, from(#c49520), to(#7f65d6));
   background: -webkit-linear-gradient(top, #c49520, #7f65d6);
   background: -moz-linear-gradient(top, #c49520, #7f65d6);
   background: -ms-linear-gradient(top, #c49520, #7f65d6);
   background: -o-linear-gradient(top, #c49520, #7f65d6);
   padding: 20px 40px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: 5px 10px #000000;
   -moz-box-shadow: 5px 10px #000000;
   box-shadow: 5px 10px #000000;
   color: #ffffff;
   font-size: 24px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
  align-content: center;
   }
.button:hover {
   background: #7f65d6;
   background: -webkit-gradient(linear, left top, left bottom, from(#7f65d6), to(#c49520));
   background: -webkit-linear-gradient(top, #7f65d6, #c49520);
   background: -moz-linear-gradient(top, #7f65d6, #c49520);
   background: -ms-linear-gradient(top, #7f65d6, #c49520);
   background: -o-linear-gradient(top, #7f65d6, #c49520);
  border-radius: 10px;
   -webkit-box-shadow: 0px 0px #000000;
   -moz-box-shadow: 0px 0px #000000;
   box-shadow: 0px 0px #000000;
}

.button:active {
 	border-top-color: #1b435e;
	background: #1b435e;
}

