.poweredby {
  grid-area: poweredby;
  width: 100%;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.header-poweredby {
  margin: 1em 0 auto 0;
}

.copyright-brand {
  text-align: right;
  margin: 1em 0 auto 0;
}

@media (max-width: 1300px) {
  .poweredby {
    width: 30vw;
  }
}

@media (max-width: 1050px) {
  .poweredby {
    width: 30vw;
  }
}
