.profile {
	grid-area: profile;
  border: 2px solid #7D12FF;
  padding: 5px;
}

@media (min-width: 2001px) {
  .profile {
    height: 65vh;
  }
}

@media (max-width: 1050px) {
  .profile {
    width: 170vw;
    text-align: center;
  }
}
