table {
  border-collapse: collapse;
  height: auto;
}

.base-spl-flap-anim {
   display: flex;
   height: auto;
   width: auto;
 }

.posi-one, .posi-two, .posi-three,
.posi-four, .posi-five, .posi-six,
.posi-seven, .posi-eight, .posi-nine,
.posi-ten, .posi-eleven, .posi-twelve,
.posi-thir, .posi-fourth, .posi-fifth,
.posi-sixth, .posi-seventh, .posi-eigthth,
.posi-ninth, .posi-twenty, .posi-twe-one,
.posi-twe-two {
   overflow: hidden;
   height: 40px;
   font-size: 30px;
   text-align: center;
   background-color: #7f65d6;
   color: #ffffff;
   justify-content: center;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: 5px 10px #000000;
   -moz-box-shadow: 5px 10px #000000;
   box-shadow: 5px 10px #000000;
}

/* DEFAULTS */

.posi-one tr {
   --ch:-2;
   animation: scroll 4s 1s linear forwards;
}

.posi-two tr {
   --ch:-21;
   animation: scroll 4s 1s linear forwards;
}

.posi-three tr {
   --ch:-9;
   animation: scroll 4s 1s linear forwards;
}

.posi-four tr {
   --ch:-12;
   animation: scroll 4s 1s linear forwards;
}

.posi-five tr {
   --ch:-4;
   animation: scroll 4s 1s linear forwards;
}

.posi-six tr {
   --ch:-27;
   animation: scroll 4s 1s linear forwards;
}

.posi-seven tr {
   --ch:-4;
   animation: scroll 4s 1s linear forwards;
}

.posi-eight tr {
   --ch:-9;
   animation: scroll 4s 1s linear forwards;
}

.posi-nine tr {
   --ch:-7;
   animation: scroll 4s 1s linear forwards;
}

.posi-ten tr {
   --ch:-9;
   animation: scroll 4s 1s linear forwards;
}

.posi-eleven tr {
   --ch:-20;
   animation: scroll 4s 1s linear forwards;
}

.posi-twelve tr {
   --ch:-1;
   animation: scroll 4s 1s linear forwards;
}

.posi-thir tr {
   --ch:-12;
   animation: scroll 4s 1s linear forwards;
}

.posi-fourth tr {
   --ch:-27;
   animation: scroll 4s 1s linear forwards;
}

.posi-fifth tr {
   --ch:-17;
   animation: scroll 4s 1s linear forwards;
}

.posi-sixth tr {
   --ch:-19;
   animation: scroll 4s 1s linear forwards;
}

.posi-seventh tr {
   --ch:-16;
   animation: scroll 4s 1s linear forwards;
}

.posi-eigthth tr {
   --ch:-4;
   animation: scroll 4s 1s linear forwards;
}

.posi-ninth tr {
   --ch:-22;
   animation: scroll 4s 1s linear forwards;
}

.posi-twenty tr {
   --ch:-3;
   animation: scroll 4s 1s linear forwards;
}

.posi-twe-one tr {
   --ch:-21;
   animation: scroll 4s 1s linear forwards;
}

.posi-twe-two tr {
   --ch:-20;
   animation: scroll 4s 1s linear forwards;
}

@keyframes scroll {
  to {
    transform: translateY(calc(var(--ch) * 100%));
  }
}
