.tagline {
  grid-area: tagline;
  display: flex;
  flex-direction: row;
  border: 2px dashed #7D12FF;
  padding: 5px;
}

@media (min-width: 2001px) {
  .tagline {
    height: 7vh;
  }
}

@media (max-width: 2000px) {
  .tagline {
    height: 7vh;
    width: 65vw;
  }
}

@media (max-width: 1300px) {
  .tagline {
    width: 65vh;
    height: 7vh;
  }
}

@media (max-width: 1050px) {
  .tagline {
    text-align: center;
    flex-wrap: wrap;
    height: 20vh;
    width: 170vw;
  }
}
